body {
  background-color: silver;
  font-family: Helvetica, sans-serif;
}

.app-container {
  margin: 2em;
}

.canvas {
  background-color: white;
}

.editor {
  width: 512px;
  float: left;
  margin-bottom: 2em;
}

h1 {
  font-weight: normal;
  font-size: 2.5em;
}

h3 {
  background-color: gray;
  padding: 0.5em;
  margin: 0;
  font-size: 0.7em;
  font-weight: normal;
  float: left;
}

.preview {
  float: left;
}

.preview-square {
  float: left;
  margin-left: 1em;
}

.drawing-info {
  color: silver;
}

h1 {
  clear: both;
}

.segment:hover {
  fill: red;
}

.download-link {
  color: gray;
  font-size: 0.9em;
}

.download-link:hover {
  color: black;
}

h1 a {
  color: black;
}

h1 a:hover {
  color: blue;
}

p, ul, footer {
  font-size: 1.4em;
}

h1, ul, p, footer {
  width: 900px;
  margin: 1em auto 0.2em;
}

footer {
  text-align: center;
  margin-top: 2em;
}
